<ion-view view-title="{{ 'Login' | translate}}" name="login-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="{{ 'Username' | translate}}" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="{{ 'Password' | translate}}" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login()">{{ 'Login' | translate}}</button>
  </ion-content>
</ion-view>